html {
  position: relative;
  min-height: 100%;
}

body {
  /*css code*/
  /* Margin bottom by footer height. */
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  height: 60px;
  width: 100%;
}

img.service {
  height: 175px;
}
